<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a16_0128.resourcehub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ForumActivity"
            android:label="@string/title_activity_chatroom"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".AssignmentActivity"
            android:label="@string/title_activity_assignment"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dash_board" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_aboutpage"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".PastpapersActivity"
            android:label="@string/title_activity_past_papers"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".PDFActivity"
            android:parentActivityName=".PastpapersActivity" />
        <activity
            android:name=".OverviewActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".UserAccountActivity"
            android:label="@string/title_activity_useraccount"
            android:parentActivityName=".DashboardActivity"/>
    </application>

</manifest>